<p>
  <strong>Url</strong>
  <%= image.url %>
  <%= image_tag image.img.url %>
</p>
 
 <p>
 	<%= link_to "destroy url", [image.type, image], method: :delete, data:{ confirm: "will destroy url"} %>
 </p>